* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-header {
  display: flex;
  margin-bottom: 16px;
}

.board-header-item {
  flex: 1 1 0;
  font-size: 14pt;
  text-align: center;
}

.board-row {
  display: flex;
  margin: 16px 0px;
  border-radius: 8px;
}

.board-index-cell {
  flex: 1 1 0;
  font-size: 12pt;
  padding: 16px;
  margin-right: 4px;
  background-color: #F5F6F8;
  border-bottom: 1px solid #E6E9EF;
}

.board-cell {
  flex: 1 1 0;
  align-items: stretch;
  position: relative;
}

.padding-16 {
  padding: 16px;
}

.add-item-button {
  display: none;
  border-radius: 2px;
  border: 1px solid #E6E9EF;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 8px;
  right: 16px;
  max-width: 24px;
  max-height: 24px;
}

.add-item-button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.add-item-button > img {
  max-width: 100%;
}

.board-cell:hover > .add-item-button {
  display: block;
}

.board-cell > * {
  height: 100%;
}
